body {
    background-color: skyblue;
}

header {
    border: solid black 1px;
    text-align: center;
    background-color: cornflowerblue;
}

#logo {
    margin-top: 20px;
    display: inline-block;
}


.entete {
    border: 1px solid black;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
    background-color: white;

}

h2 {
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    font-size: 180%;
    margin-left: 35%
}

figure {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
}

.centre {
    text-align: center;
    margin-top: 5px;
}

.choix {
    display: inline-block;
    text-align: center;
    padding-left: 15px;
}
